.bigwrappa {
    margin: 40px;
    width: 100%;
    max-width: 800px;
    background-color: transparent !important;
    position: relative !important;
    display: flex !important;
    height: 100%;
}

.c-flipbook,
.c-flipbook__page {
  background: transparent !important;
}

.c-flipbook * {
  background: transparent !important;
}

body {

    background-color: red;
    }
