.bigwrappa {
    margin: 40px;
    width: 100%;
    max-width: 800px;
    background-color: transparent !important;
    position: relative !important;
    display: flex !important;
    height: 100%;

}

body {

    background-color: transparent !important;
    }
